.containerPeople {
  width: 50%;
  background-color: white;
  min-height: 50rem;
  padding: 1rem 1.5rem;
  border-radius: 0.8rem;
}

.peopleTilte {
  text-align: center;
  font-size: 1.6rem;
}

.peopleConented {
  padding: 0.3rem 0rem;
  font-size: 1.7rem;
  color: green;
}
